<div>
  {% for room in rooms %}

  <div>
    {% comment %} instead of the room/{{room.id}}, we can use the built in url
    tag {% endcomment %} {% if request.user == room.host %}
    <a href="{% url 'update-room' room.id %}">Edit room</a>
    <a href="{% url 'delete-room' room.id %}">Delete room</a>
    {% endif %}

    <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
    <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
    <small>{{room.topic.name}}</small>
    <hr />
  </div>

  {% endfor %}
</div>
